<template lang="pug">
div
    #select-coin2.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    div(v-if="coins")
                        h5 Find Token
                        input.form-control(
                            v-model="searchCoin",
                            placeholder="token name"
                        )

                        .mt-4.list-group
                            a.list-group-item.list-group-item-action(
                                v-for="coin in filteredCoins()",
                                href="#",
                                :key="coin.id",
                                @click="$event.preventDefault(); selectCoin(coin)"
                            )
                                strong {{ coin.id }}
                                small.ml-2.text-success {{ coin.name }}
                                small.d-flex.text-primary {{ coin.url }}

    #remove-liquidity-modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-body 
                    h3.d-flex
                        span.mr-auto Remove Amount
                        span {{ enteredLiquidity.range }}%

                    input.w-100.my-3(
                        type="range",
                        step="1",
                        min="0",
                        max="100",
                        v-model="enteredLiquidity.range"
                    )

                    .d-flex
                        button.btn.btn-primary.mx-2.flex-grow-1(
                            v-for="x in [25, 50, 75, 100]",
                            @click="enteredLiquidity.range = x",
                            :key="'rm-btn-' + x"
                        ) {{ x }}%

                    //-p {{ liquidities }}

                    template(
                        v-for="l in [liquidities[enteredLiquidity.coin.id]]",
                        v-if="liquidities[enteredLiquidity.coin.id]"
                    )
                        .card.mt-3
                            .card-body
                                h4.d-flex
                                    span.mr-auto
                                        number-display(
                                            :v="enteredLiquidity.lpToken.times(enteredLiquidity.range / 100).div(lpWatchers[enteredLiquidity.coin.id].totalSupply).times(l.major).toFormat(6)"
                                        )
                                    span 
                                        number-display(
                                            :v="enteredLiquidity.lpToken.times(enteredLiquidity.range / 100).div(lpWatchers[enteredLiquidity.coin.id].totalSupply).times(l.minor).toFormat(6)"
                                        )
                                strong.d-flex
                                    span.mr-auto TT
                                    span {{ enteredLiquidity.coin.id }}

                    .mt-4.text-center
                        button.btn.btn-danger.btn-lg.w-50(
                            @click="removeLiquidity",
                            :disabled="loading"
                        ) Remove
                            span.ml-1.spinner.spinner-border.spinner-border-sm(
                                v-if="loading"
                            )
    .card.mx-auto.w-100.position-relative(
        v-if="coins && provider",
        style="max-width: 440px"
    )
        .card-body
            div(v-show="tab == 'my'")
                .d-flex.align-items-start
                    h5.mr-auto Your Liquidity
                        span.badge.badge-success.ml-3(v-if="myLpCount()") {{ myLpCount() }}
                    button.btn.btn-primary.btn-sm(
                        @click="forceLoadLpWatchers",
                        :disabled="loading"
                    ) 
                        span.spinner.spinner-border.spinner-border-sm(
                            v-if="loading"
                        )
                        span(v-else) Reload

                //-- Removing liquidity Here---------------------------------------------------------------
                .mt-2
                    .card.mt-4.card-default(
                        v-for="coin in coins",
                        :key="coin.id + 'lp-tokens'",
                        v-if="lpWatchers[coin.id] && lpWatchers[coin.id].balance.gt(0)"
                    )
                        .card-body
                            a.w-100.d-block(
                                :href="'#lp-' + coin.id",
                                data-toggle="collapse"
                            ) 
                                strong TT/{{ coin.id }}

                            .collapse.mt-2(
                                :id="'lp-' + coin.id",
                                v-if="liquidities[coin.id]"
                            )
                                ul.list-group
                                    li.list-group-item
                                        .d-flex
                                            span.mr-auto Your Liquidity:
                                            strong
                                                number-display(
                                                    :v="lpWatchers[coin.id].balance.toFormat(8)"
                                                )
                                    li.list-group-item
                                        .d-flex
                                            span.mr-auto TT:
                                            strong
                                                number-display(
                                                    :v="lpWatchers[coin.id].balance.div(lpWatchers[coin.id].totalSupply).times(liquidities[coin.id].major).toFormat(8, 1)"
                                                )
                                    li.list-group-item
                                        .d-flex
                                            span.mr-auto {{ coin.id }}:
                                            strong
                                                number-display(
                                                    :v="lpWatchers[coin.id].balance.div(lpWatchers[coin.id].totalSupply).times(liquidities[coin.id].minor).toFormat(8, 1)"
                                                )
                                .mt-2
                                    .d-flex
                                        button.btn.btn-primary.mr-auto(
                                            @click="startAddLiquidity(coin)"
                                        ) Add Liquidity

                                        button.btn.btn-danger(
                                            @click="startRemoveLiquidity(coin)"
                                        ) Remove Liquidity

                button.w-100.btn.btn-primary.btn-lg.mt-5(@click="tab = 'add'") Add Liquidity

            //----------------------------------------------------------------------------------------->>>>>>> ADDING LIQUIDITY
            div(v-if="coins", v-show="tab == 'add'") 
                a.text-mute(
                    href="#",
                    @click="$event.preventDefault(); tab = 'my'"
                )
                    h5 ← Add Liquidity

                .d-flex
                    small.flex-grow-1 Token
                        strong.ml-2(v-if="liquidity.coin.id") {{ liquidity.coin.id }}
                    small.text-right(
                        v-if="$store.state.account && liquidity.coin.id"
                    ) You Have:
                        strong
                            balance.text-success.ml-2(
                                v-if="provider",
                                :token="liquidity.coin.tokenAddress",
                                :displayDp="8",
                                :address="$store.state.account",
                                :provider="provider",
                                @click="liquidity.amount = $event"
                            )

                            span.ml-1 {{ liquidity.coin.id }}

                .d-flex.mt-1
                    input.form-control.flex-grow-1(
                        v-model="liquidity.amount",
                        type="number",
                        @focus="$event.target.select()",
                        :disabled="liquidityLoading || !liquidity.coin.id"
                    )

                    button.btn.btn-primary.text-nowrap.ml-2(
                        @click="showSelectCoin"
                    ) {{ liquidity.coin.id ? liquidity.coin.id : 'Select Token' }}

                //--->> This is only shown if the liquidity is still 0!---------START
                template(
                    v-if="!liquidityLoading && liquidity.coin.id && liquidities[liquidity.coin.id]"
                )
                    div(v-for="l in [liquidities[liquidity.coin.id]]")
                        .mt-2(v-if="l.major.eq(0)")
                            .d-flex
                                input.form-control.flex-grow-1(
                                    v-model="liquidity.amountTT",
                                    type="number",
                                    @focus="$event.target.select()"
                                )

                                button.btn.btn-primary.text-nowrap.ml-2(
                                    :disabled="true"
                                ) TT
                //------------------------------------------------------------------END

                .text-center.my-3
                    small(v-if="$store.state.account")
                        span You have &nbsp;
                        strong 
                            balance.text-success(
                                v-if="provider",
                                token="TT",
                                :displayDp="6",
                                :address="$store.state.account",
                                :provider="provider",
                                @click="ttClicked"
                            )
                            span &nbsp;TT

                p.mt-2.text-center
                    button.btn.btn-dark.btn-lg(
                        @click="addLiquidity",
                        :disabled="loading"
                    )
                        span(v-if="!loading") PROCEED
                        span.spinner.spinner-grow(v-else)

                //-- shows the liquidity of that token..
                p.mt-2.text-center(v-if="liquidityLoading")
                    span.spinner.spinner-border

                //--------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LIQUIDITY ADD FORM

                template(
                    v-if="!liquidityLoading && liquidity.coin.id && liquidities[liquidity.coin.id]",
                    v-for="l in [liquidities[liquidity.coin.id]]"
                )
                    .card.bg-dark.text-light(
                        v-if="l.major.gt(0) && toBig(liquidity.amount).gt(0)"
                    )
                        .card-body
                            .row.text-center.mt-2
                                //--> will be shown when there is price, if price == 0 then user need to add "equivalent" TT value for that coin
                                .col-12
                                    .card.mb-3.bg-danger.text-info
                                        .card-body
                                            span adding
                                                strong.text-warning.ml-1
                                                    number-display(
                                                        :v="toBig(liquidity.amount).dp(8).toFormat()"
                                                    )
                                                    span.ml-1 {{ liquidity.coin.id }} Liquidity,
                                            br
                                            span will also need
                                                strong.text-success.ml-1
                                                    number-display(
                                                        :v="toBig(liquidity.amount).div(l.minor.div(l.major)).dp(8).toFormat()"
                                                    )
                                                    span.ml-1 TT

                                .col-12.col-md-4
                                    span #[span.text-success {{ liquidity.coin.id }}] Per #[span.text-success TT]
                                    br
                                    strong
                                        number-display(
                                            :v="l.major.gt(0) ? l.minor.div(l.major).dp(8) : 0"
                                        )

                                .col-12.col-md-4
                                    span #[span.text-success TT] Per #[span.text-success {{ liquidity.coin.id }}]
                                    br
                                    strong 
                                        number-display(
                                            :v="l.minor.gt(0) ? l.major.div(l.minor).toFormat(8) : 0"
                                        )

                                .col-12.col-md-4
                                    span Pool Share
                                    br
                                    strong {{ liquidity.amount > 0 ? toBig(liquidity.amount).div(l.minor.plus(liquidity.amount)).times(100).toFormat(3) : 0 }}%

                                .col-12.mt-3
                                    span Pool Size:
                                    br
                                    span
                                        strong.ml-1
                                            number-display(
                                                :v="l.major.toFormat(6, 1)"
                                            )
                                        span.ml-1 TT -
                                        strong.ml-1
                                            number-display(
                                                :v="l.minor.toFormat(6, 1)"
                                            )
                                        span.ml-1 {{ liquidity.coin.id }}
</template>

<script lang="ts">
import { Vue, Component, Watch, Prop } from "vue-property-decorator";
import Base from "./Base";
import Balance from "../components/balance.vue";
import Big from "bignumber.js";
import { BigNumber } from "ethers/utils";
import { getContract, txFee } from "../lib/blockchain-helper";
import { JsonRpcProvider, TransactionReceipt } from "ethers/providers";
import debounce from "lodash/debounce";
import { Contract, ethers } from "ethers";
import NumberDisplay from "../components/number-display.vue";
import { AddressZero } from "ethers/constants";
import network from "../network";

@Component({
    components: { Balance, NumberDisplay },
})
export default class InnerLiquidity extends Base {
    @Prop({ required: true })
    readonly provider: JsonRpcProvider | undefined;

    @Prop({ required: true })
    readonly coins: any[] | undefined;

    liquidity = {
        amount: "0",
        amountTT: "0",
        coin: { id: 0 },
    };

    @Prop({ required: true })
    readonly liquidityLoading: boolean | undefined;

    @Prop({ required: true })
    readonly fetchLiquidity: Function | undefined;

    @Prop({ required: true })
    readonly liquidities:
        | {
            [tokenId: string]: {
                major: Big;
                minor: Big;
            };
        }
        | undefined;

    searchCoin = "";

    loading = false;
    tab = "my"; // add / my

    lpWatchers: {
        [coinId: string]: {
            contract: Contract;
            balance: Big;
            totalSupply: Big;
        };
    } = {};

    // helper to reload balances..
    balanceShow = {
        liquidity: "",
    };

    enteredLiquidity = {
        coin: { id: 0 },
        range: 0,
        lpToken: new Big(0),
        removeAmount: "0",
    };

    beforeDestroy() {
        this.cleanUp();
    }

    mounted() {
        this.loadLpWatchers();
    }

    toBig(v: any) {
        return new Big(v);
    }

    cleanUp() {
        for (const key in this.lpWatchers) {
            this.lpWatchers[key].contract.removeAllListeners("Transfer");
        }
    }

    watcherMutex = Promise.resolve();

    @Watch("coins")
    async onCoinChange() {
        // why mutex? because coins is called multiple times when coins are changing
        await this.watcherMutex;
        this.watcherMutex = this.loadLpWatchers();
    }

    myLpCount() {
        let i = 0;
        for (const key in this.lpWatchers) {
            if (this.lpWatchers[key].balance.gt(0)) ++i;
        }
        return i;
    }

    forceLoadLpWatchers() {
        this.loading = true;
        this.$nextTick(async function () {
            try {
                await this.loadLpWatchers();
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else {
                    msg = error.message || error.toString();
                }
                console.trace(error);
                alert(msg);
            } finally {
                this.loading = false;
            }
        });
    }

    // for monitoring user lptoken's balance
    async loadLpWatchers() {
        // id: string;
        // name: string;
        // tokenAddress: string;
        // decimalPlace: number;
        // exchangeAddress: string;

        if (
            this.coins &&
            network &&
            this.provider &&
            this.liquidities &&
            this.fetchLiquidity
        ) {
            const p = this.getProvider(false);
            if (!p) {
                return;
            }

            const provider = p;
            const signer = provider.getSigner();

            let account: string;
            try {
                account = await signer.getAddress();
            } catch (error) {
                return;
            }

            for (const coin of this.coins) {
                if (!(coin.id && coin.exchangeAddress)) continue;

                if (!this.lpWatchers[coin.id]) {
                    const contract = getContract(
                        network,
                        "Swapper",
                        this.provider,
                        coin.exchangeAddress
                    );

                    const b: BigNumber = await contract.balanceOf(account);
                    const balance = new Big(b.toString()).div(1e18);

                    const ts: BigNumber = await contract.totalSupply();
                    const totalSupply = new Big(ts.toString()).div(1e18);

                    if (balance.gt(0)) {
                        if (!this.liquidities[coin.id]) {
                            await this.fetchLiquidity(
                                coin.id,
                                coin.exchangeAddress,
                                coin.tokenAddress,
                                coin.decimalPlace
                            );
                        }
                    }

                    this.lpWatchers = {
                        ...this.lpWatchers,
                        [coin.id]: { contract, balance, totalSupply },
                    };

                    console.log(
                        "watching lp",
                        await contract.name(),
                        await contract.symbol()
                    );

                    contract.on(
                        "Transfer",
                        async (from: string, to: string) => {
                            if (from == account || to == account) {
                                const b: BigNumber = await contract.balanceOf(
                                    account
                                );
                                const balance = new Big(b.toString()).div(1e18);

                                this.lpWatchers[coin.id].balance = balance;
                            }
                            if (from == AddressZero || to == AddressZero) {
                                const ts: BigNumber =
                                    await contract.totalSupply();

                                this.lpWatchers[coin.id].totalSupply = new Big(
                                    ts.toString()
                                ).div(1e18);
                            }
                        }
                    );
                }
            }
        }
    }

    showSelectCoin() {
        const win = window as any;
        win.jQuery("#select-coin2").modal("show");
    }

    selectCoin(coin: any) {
        this.liquidity.coin = coin;

        if (this.fetchLiquidity)
            this.fetchLiquidity(
                coin.id,
                coin.exchangeAddress,
                coin.tokenAddress,
                coin.decimalPlace
            );

        const win = window as any;
        win.jQuery("#select-coin2").modal("hide");
    }

    ttClicked(n: string) {
        if (!this.liquidities) return;

        const amount = new Big(n).minus(0.002);

        const l = this.liquidities[this.liquidity.coin.id];

        if (l && amount.gt(0)) {
            this.liquidity.amount = amount
                .times(l.minor.div(l.major))
                .dp(6)
                .toString();
        }
    }

    filteredCoins() {
        if (!this.coins) return [];

        if (!this.searchCoin) return this.coins.filter((v) => v.id != "TT");

        const searchCoin = this.searchCoin.toUpperCase();

        return this.coins.filter((v) => {
            return (
                v.name &&
                (v.id.toString().toUpperCase().includes(searchCoin) ||
                    v.name.toUpperCase().includes(searchCoin))
            );
        });
    }

    startAddLiquidity(coin: any) {
        this.selectCoin(coin);
        this.tab = "add";
        this.liquidity.amount = "";
    }

    async startRemoveLiquidity(coin: any) {
        if (!this.lpWatchers[coin.id]) return;

        this.enteredLiquidity.lpToken = this.lpWatchers[coin.id].balance;
        this.enteredLiquidity.coin = coin;
        this.enteredLiquidity.range = 0;

        const win = window as any;
        win.jQuery("#remove-liquidity-modal").modal("show");
    }

    removeLiquidity() {
        this.loading = true;
        this.$store.commit("blockchainProgress", "removing liquidity");

        this.$nextTick(async function () {
            try {
                if (!(network && this.provider))
                    throw "network | provider is not set";

                const p = this.getProvider(false);

                if (!p) return;

                const provider = p;
                const signer = provider.getSigner();

                let account;
                try {
                    account = await signer.getAddress();
                } catch (error) {
                    throw "no account";
                }

                const swapper = getContract(
                    network,
                    "Swapper",
                    signer,
                    (this.enteredLiquidity.coin as any).exchangeAddress
                );

                const amount = new Big(this.enteredLiquidity.lpToken)
                    .times(this.enteredLiquidity.range / 100)
                    .times(1e18)
                    .dp(0, Big.ROUND_DOWN);

                // console.log(`amount: ${amount.toFormat()}`);

                this.$store.commit(
                    "blockchainProgress",
                    "waiting for liquidity removal confirmation"
                );

                // const lpValue = await swapper.lpValue(amount.toString());
                // console.log(`account: ${account}, swapper: ${swapper.address}, tt: ${this.toEther(lpValue[0], 18)}, token: ${this.toEther(lpValue[1], 18)}`);

                const t = await swapper.removeLiquidity(amount.toString(), { ...txFee() });

                this.$store.commit(
                    "blockchainProgress",
                    "waiting for blockchain confirmation"
                );

                const r = await this.provider.waitForTransaction(t.hash);

                if (r.status) {
                    this.enteredLiquidity.removeAmount = "0";

                    const win = window as any;
                    win.jQuery("#remove-liquidity-modal").modal("hide");
                }
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else {
                    msg = error.message || error.toString();
                }
                console.trace(error);
                alert(msg);
            } finally {
                this.loading = false;
                this.$store.commit("blockchainProgress", "");
            }
        });
    }

    async addLiquidity() {
        this.loading = true;
        this.$store.commit("blockchainProgress", "adding liquidity");

        this.$nextTick(async function () {
            try {
                if (!(network && this.provider && this.liquidities))
                    throw "network|provider|liquidities is not defined";

                if (new Big(this.liquidity.amount).lte(0))
                    return alert("Token Amount not specified");

                if (!this.liquidity.coin.id) throw "no coin specified";

                const l = this.liquidities[this.liquidity.coin.id];

                if (!l) throw "token liquidity is not loaded";

                const currentPrice = l.minor.div(l.major);

                // token is not priced yet
                let TTAmount = new Big(this.liquidity.amountTT)
                    .times(1e18)
                    .dp(0, Big.ROUND_DOWN);

                // we already have price for TT
                if (currentPrice.gt(0)) {
                    TTAmount = new Big(this.liquidity.amount)
                        .div(currentPrice)
                        .times(1e18)
                        .dp(0, Big.ROUND_DOWN);
                }

                const p = this.getProvider(false);
                if (!p) return;
                const provider = p;
                const signer = provider.getSigner();

                let account;
                try {
                    account = await signer.getAddress();
                } catch (error) {
                    throw "no account";
                }

                const swapper = getContract(
                    network,
                    "Swapper",
                    signer,
                    (this.liquidity.coin as any).exchangeAddress
                );

                const erc20 = getContract(
                    network,
                    "ERC20",
                    signer,
                    (this.liquidity.coin as any).tokenAddress
                );

                const decimals = await erc20.decimals();

                // check for approval
                const allowance_ = await erc20.allowance(
                    account,
                    swapper.address
                );

                const allowance = new Big(allowance_.toString()).div(
                    `1e${decimals}`
                );

                // request for allowance..
                if (allowance.lt(this.liquidity.amount)) {
                    this.$store.commit(
                        "blockchainProgress",
                        `[unlocking] waiting permission for contract to spend ${this.liquidity.coin.id}`
                    );
                    const t = await erc20.approve(
                        swapper.address,
                        new Big(this.liquidity.amount)
                            .times(1e12)
                            .times(`1e${decimals}`)
                            .dp(0, Big.ROUND_DOWN)
                            .toString(),
                        { ...txFee() }
                    );

                    this.$store.commit(
                        "blockchainProgress",
                        `[unlocked ${this.liquidity.coin.id}] waiting for blockchain confirmation`
                    );
                    await t.wait(1);
                }

                const amountEther = new Big(this.liquidity.amount)
                    .times(`1e${decimals}`)
                    .dp(0, Big.ROUND_DOWN);

                this.$store.commit(
                    "blockchainProgress",
                    "waiting for adding liquidity confirmation"
                );

                // current liquidity
                const currentLiquidity = await swapper.currentLiquidity();
                console.log(
                    `current liquidity major: ${this.toEther(
                        currentLiquidity[0]
                    )}, minor: ${this.toEther(currentLiquidity[1])}`
                );

                const t = await swapper.addLiquidity(amountEther.toString(), {
                    value: ethers.utils.bigNumberify(TTAmount.toString()),
                    ...txFee()
                });

                this.$store.commit(
                    "blockchainProgress",
                    "waiting for blockchain confirmation"
                );

                const r = await this.provider.waitForTransaction(t.hash);

                if (r.status) {
                    this.tab = "my";
                    this.liquidity.amount = "";

                    if (r.logs) {
                        // event LiquidityAdded(address indexed sender, uint256 lpToken, uint256 native, uint256 token);
                        const events = r.logs
                            .map((v) => swapper.interface.parseLog(v))
                            .filter((v) => v && v.name == "LiquidityAdded");

                        const liquidityAdded = events[0];

                        if (liquidityAdded) {
                            console.log(
                                `address ${liquidityAdded.values.sender
                                }, share: ${this.toEther(
                                    liquidityAdded.values.lpToken
                                )}, native: ${this.toEther(
                                    liquidityAdded.values.native
                                )}, token: ${this.toEther(
                                    liquidityAdded.values.token
                                )}`
                            );
                        }
                    }

                    return this.forceLoadLpWatchers();
                }
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else {
                    msg = error.message || error.toString();
                }
                console.trace(error);
                alert(msg);
            } finally {
                this.loading = false;
                this.$store.commit("blockchainProgress", "");
            }
        });
    }
}
</script>