<template lang="pug">
.text-center
    h1 Please Upgrade your Egg Token

    h5 Deadline block#: {{deadline.toFormat()}}
        br
        span current block#: {{blockNumber.toFormat()}}
    
    h3
        small Deadline Countdown {{deadline.minus(blockNumber).toFormat()}}
        br
        span Approximately at {{new Date(1609304328468)}}

    button.btn.btn-primary.btn-lg(@click="upgrade") Upgrade Egg Token
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import Base from "./Base";

import { getContract, getProvider } from "../lib/blockchain-helper";
import Big from "bignumber.js";
import { BigNumber } from "ethers/utils";

import { Contract } from "ethers";
import MixinMenu from "./_mixin_menu";

import network from "../network";
import { JsonRpcProvider } from "ethers/providers";

@Component({
    mixins: [MixinMenu],
})
export default class Swap extends Base {
    oldEgg = "0x013aBb84ca2d12ef0C4D0bEB7CF6b6b807962df5";

    provider: JsonRpcProvider | null = null;

    loading = false;

    deadline = new Big(0);
    blockNumber = new Big(0);

    cleanUp() {
        this.provider?.removeAllListeners();
    }

    beforeDestroy() {
        this.cleanUp();
    }

    async mounted() {
        this.provider = this.getProvider(true);
        if (this.provider) {
            const newEgg = getContract(network, "EGG", this.provider);
            const deadline: BigNumber = await newEgg.upgradeDeadline();

            this.deadline = new Big(deadline.toNumber());
            this.provider.on("block", (blockNumber: number) => {
                this.blockNumber = new Big(blockNumber);
            });
        }
    }

    upgrade() {
        this.loading = true;

        this.$store.commit("blockchainProgress", `Upgrading EGG`);

        this.$nextTick(async function () {
            try {
                const provider = this.getProvider(false);

                if (!provider) throw "NO PROVIDER";

                const signer = provider.getSigner();
                const account = await signer.getAddress();

                const old = getContract(network, "EGG", signer, this.oldEgg);
                const newEgg = getContract(network, "EGG", signer);

                console.log('old:', old.address);
                console.log('new:', newEgg.address);

                const allowance: BigNumber = await old.allowance(
                    account,
                    newEgg.address
                );

                const oldBalance: BigNumber = await old.balanceOf(account);

                if (allowance.lt(oldBalance)) {
                    this.$store.commit(
                        "blockchainProgress",
                        `[unlocking] waiting permission for contract to spend OLD EGG`
                    );

                    const t = await old.approve(
                        newEgg.address,
                        oldBalance.mul(new Big(1e22).toString())
                    );

                    this.$store.commit(
                        "blockchainProgress",
                        `[unlocking] waiting blockchain confirmation`
                    );

                    await t.wait(1);
                }

                this.$store.commit(
                    "blockchainProgress",
                    `waiting for upgrade confirmation`
                );

                const t = await newEgg.upgrade();

                this.$store.commit(
                    "blockchainProgress",
                    `waiting for blockchain confirmation`
                );

                const r = await t.wait(1);

                alert("Thank you. You have successfully upgraded your EGG");
            } catch (error) {
                console.log(error);
                alert(error.message);
            } finally {
                this.loading = false;
                this.$store.commit("blockchainProgress", "");
            }
        });
    }
}
</script>