<template lang="pug">
.container
    h1 Hello!
    pre {{debug}}
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import MixinMenu from "./_mixin_menu";

@Component({
    mixins: [MixinMenu],
})
export default class Home extends Vue {
    
}
</script>
