<template lang="pug">
div
    h1 Old LP checker

    .card.card-default
        .card-body
            .mt-1
                label.form-label Address To checke
                input.form-control(v-model="addressToCheck")
            .mt-1
                button.btn.btn-primary(@click="check", :disabled="loading > 0") Check
                    span.spinner.spinner-border.spinner-border-sm.ml-1(
                        v-if="loading > 0"
                    )

    .mt-4
        h3 Check Result:
        p Farm Address: {{ farmAddress }}
        ul
            li(v-for="pool in pools.filter((v) => v.lpSymbol !== 'EGG2')")
                span.d-block {{ pool.lpSymbol }} [id: {{ pool.id }}]
                span.d-block LP Address: {{ pool.tokenAddress }}
                span.d-block Player Stake ID: {{ pool.playerStakeId }}
                span.d-block Staked:
                    strong.ml-1 {{ pool.staked }}
                span.d-block Balance:
                    strong.ml-1 {{ pool.lpBalance }}
                span.d-block(v-if="pool.stakeValue")
                    pre {{JSON.stringify(pool.stakeValue, null, 2)}}
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Big from "bignumber.js";

import old from "../contract-addresses-old.json";
import { JsonRpcProvider } from "ethers/providers";
import { Contract } from "ethers";
import { getContract } from "../lib/blockchain-helper";
import network from "../network";

function toEther(v: any, dp = 18) {
    return new Big(v.toString()).div(`1e${dp}`);
}

const farmsSpec = old.thunder_main.Farms;
const eggSpec = old.thunder_main.EGG;
const swapperSpec = old.thunder_main.Swapper;

@Component({})
export default class OldLp extends Vue {
    loading = 0;
    provider: JsonRpcProvider | null = null;
    farms: Contract | null = null;
    farmAddress = "";

    addressToCheck = "0xf2c99B7dfda8696d0b5768f848631dC628b25c3a";

    pools: any = [];

    check() {
        this.loading++;
        this.$nextTick(async function () {
            try {
                const provider = new JsonRpcProvider(
                    "https://mainnet-rpc.thundercore.com"
                );

                const blockNumber = await provider.getBlockNumber();

                const farm = new Contract(
                    farmsSpec.address,
                    farmsSpec.abi,
                    provider
                );

                this.farmAddress = farm.address;

                console.log(farm.interface.events);

                const maxPoolId = toEther(await farm.poolId(), 0);
                let poolId = 1;

                const pools = [];

                while (poolId <= maxPoolId.toNumber()) {
                    const pool = await farm.pools(poolId);
                    const token = new Contract(
                        pool.token,
                        swapperSpec.abi,
                        provider
                    );
                    const [lpName, lpSymbol, lpDp]: [
                        string,
                        string,
                        number
                    ] = await Promise.all([
                        token.name(),
                        token.symbol(),
                        token.decimals(),
                    ]);

                    let usdDp = 18;
                    let usdSymbol = "EGG";

                    if (lpName.includes("ELP")) {
                        const usdToken = new Contract(
                            await token.usd(),
                            eggSpec.abi,
                            provider
                        );
                        usdDp = await usdToken.decimals();
                        usdSymbol = await usdToken.symbol();
                    }

                    const playerStakeId = toEther(
                        await farm.stakeIds(poolId, this.addressToCheck),
                        0
                    );

                    let staked = new Big(0);
                    const lpBalance = toEther(
                        await token.balanceOf(this.addressToCheck)
                    );

                    if (playerStakeId.gt(0)) {
                        const stakeInfo = await farm.stakes(
                            playerStakeId.toNumber()
                        );
                        staked = toEther(stakeInfo.amount);
                    }

                    // check if we have lp token there..
                    const poolItem: any = {
                        id: poolId,
                        lpName,
                        lpSymbol,
                        lpDp,
                        tokenAddress: pool.token,
                        ended: pool.endBlock.toNumber() < blockNumber,
                        playerStakeId: playerStakeId.toString(),
                        lpBalance: lpBalance.toString(),
                        staked: staked.toString(),
                    };

                    if (staked.gt(0)) {
                        console.log(
                            "fetching lp value",
                            lpName,
                            usdSymbol,
                            usdDp
                        );

                        const lpValue = await token.lpValue(
                            staked.times(1e18).dp(0, Big.ROUND_DOWN).toString()
                        );
                        const major = toEther(lpValue[0]);
                        const minor = toEther(lpValue[1], usdDp);

                        poolItem.stakeValue = {
                            major,
                            minor: `${minor} ${usdSymbol}`,
                        };
                    }

                    pools.push(poolItem);

                    ++poolId;
                }

                this.pools = pools;
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else msg = error.message || error.toString();
                console.log(msg);
            } finally {
                --this.loading;
            }
        });
    }
}
</script>

