<template lang="pug">
div
    h1 Stake Simulation

    table.info
        tr
            td Egg Per Block
            td 
                strong {{ eggPerBlock }}

        tr
            td Egg Per Block for Pool
            td 
                strong {{ eggPerBlock.times(poolInfo.weight).div(totalWeight) }}

        tr
            td eggPerShare
            td 
                strong {{ poolInfo.eggPerShare }}

        tr
            td lastCalculatedBlock
            td 
                strong {{ poolInfo.lastCalculatedBlock }}

        tr
            td total staked
            td 
                strong {{ totalStaked }}

        tr
            td Block -->
            td 
                strong {{ blockNumber }}
                button.btn.btn-danger.btn-sm.ml-2(@click="blockNumber++") +

    .card.w-50.my-2
        .card-body
            label.form-label Add Staker with amount
            input.form-control(
                v-model="stakeAmount",
                @focus="$event.target.select()",
                type="number"
            )

            button.btn.btn-primary.mt-1(@click="addStake()") Add!

    #add-stake-dialog.modal.fade
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-body
                    label.form-label Add Amount
                    input.form-control(
                        v-model="stakeAmount",
                        type="number",
                        @focus="$event.target.select()"
                    )
                .modal-footer
                    button.btn.btn-danger.mr-3(data-dismiss="modal") Cancel
                    button.btn.btn-primary.mr-3(
                        @click="addStake(selectedStakeId)"
                    ) Proceed

    #un-stake-dialog.modal.fade
        .modal-dialog.modal-dialog-centered
            .modal-content
                .modal-body
                    label.form-label Remove Amount
                    input.form-control(
                        v-model="stakeAmount",
                        type="number",
                        @focus="$event.target.select()"
                    )
                .modal-footer
                    button.btn.btn-danger.mr-3(data-dismiss="modal") Cancel
                    button.btn.btn-primary.mr-3(
                        @click="unstake(selectedStakeId)"
                    ) Proceed

    table.table.mt-4
        thead
            tr
                th ID
                th Staked
                th Paid
                th Claimed
                th
        tbody
            tr(v-for="stake in stakes", :key="stake.id")
                td {{ stake.id }}
                td {{ stake.amount }}
                td {{ stake.paid }}
                td {{ stake.claimed }}
                th
                    button.btn.btn-success.btn-sm(
                        @click="startAddStake(stake.id)"
                    ) AddStake

                    button.btn.btn-danger.btn-sm.ml-2(
                        @click="startUnStake(stake.id)"
                    ) UnStake
</template>

<style>
table.info td:nth-child(1) {
    padding-right: 1em;
}
</style>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Big from "bignumber.js";

type Stake = {
    id: number;
    paid: Big;
    amount: Big;
    claimed: Big;
};

@Component({})
export default class StakeSimulation extends Vue {
    eggPerBlock = new Big(10);

    poolInfo = {
        weight: new Big(3e3),
        lastCalculatedBlock: 0,
        eggPerShare: new Big(0),
    };

    totalWeight = new Big(1e4);

    stakeId = 0;
    stakes: Stake[] = [];
    blockNumber = 0;

    totalStaked = new Big(0);

    stakeAmount = "";
    // for modals..
    selectedStakeId = 0;

    forDeveloper = new Big(0);
    bank = new Big(0);

    updatePool() {
        if (this.poolInfo.lastCalculatedBlock >= this.blockNumber) return;

        if (!this.totalStaked.gt(0)) {
            this.poolInfo.lastCalculatedBlock = this.blockNumber;
            return;
        }

        const multiplier = this.blockNumber - this.poolInfo.lastCalculatedBlock;
        const eggs = this.eggPerBlock
            .times(this.poolInfo.weight)
            .div(this.totalWeight);

        const totalReward = eggs.times(multiplier);

        // for developer
        this.forDeveloper = this.forDeveloper.plus(totalReward.div(10)); // 10 percent
        this.bank = this.bank.plus(totalReward);

        this.poolInfo.eggPerShare = this.poolInfo.eggPerShare.plus(
            totalReward.div(this.totalStaked)
        );

        this.poolInfo.lastCalculatedBlock = this.blockNumber;
    }

    startAddStake(id: number) {
        this.selectedStakeId = id;

        const win = window as any;
        win.jQuery("#add-stake-dialog").modal("show");
    }

    startUnStake(id: number) {
        this.selectedStakeId = id;

        const win = window as any;
        win.jQuery("#un-stake-dialog").modal("show");
    }

    addStake(id_?: number) {
        const amount = new Big(this.stakeAmount);
        this.stakeAmount = "";

        let stakeId;
        let stake: Stake;

        if (!id_) {
            if (!amount.gt(0)) return alert("invalid stake amount");

            // we are adding new staker..
            stakeId = ++this.stakeId;
            stake = {
                id: stakeId,
                paid: new Big(0),
                amount: new Big(0),
                claimed: new Big(0),
            };

            this.stakes.push(stake);
        } else {
            // old staker
            const stakeIndex = this.stakes.findIndex((v) => v.id == id_);
            if (stakeIndex < 0) return alert("invalid stake id");

            stake = this.stakes[stakeIndex];
        }

        // moving forward..
        this.updatePool();

        if (stake.amount.gt(0)) {
            const pending = stake.amount
                .times(this.poolInfo.eggPerShare)
                .minus(stake.paid);
            if (pending.gt(0)) {
                stake.claimed = stake.claimed.plus(pending);
            }
        }

        if (amount.gt(0)) {
            this.totalStaked = this.totalStaked.plus(amount);
            stake.amount = stake.amount.plus(amount);
        }

        stake.paid = stake.amount.times(this.poolInfo.eggPerShare);

        const win = window as any;
        win.jQuery("#add-stake-dialog").modal("hide");
    }

    unstake(id: number) {
        const amount = new Big(this.stakeAmount);

        if (!amount.gt(0)) return alert("invalid amount");

        this.stakeAmount = '';

        const stakeIndex = this.stakes.findIndex((v) => v.id == id);

        if (stakeIndex >= 0) {
            const stake = this.stakes[stakeIndex];

            if (!stake.amount.gt(0)) return alert("nothing at stake");

            if (stake.amount.lt(amount)) return alert("wrong amount");

            this.updatePool();

            const pending = stake.amount
                .times(this.poolInfo.eggPerShare)
                .minus(stake.paid);

            if (pending.gt(0)) {
                stake.claimed = stake.claimed.plus(pending);
            }

            stake.amount = stake.amount.minus(amount);

            this.totalStaked = this.totalStaked.minus(amount);

            stake.paid = stake.amount.times(this.poolInfo.eggPerShare);

            this.stakes.splice(stakeIndex, 1, stake);

            const win = window as any;
            win.jQuery("#un-stake-dialog").modal("hide");
        }
    }
}
</script>