<template>
    <div>
        <h1>TRUST</h1>
        <div class="mt-2">
            <fieldset :disabled="loading > 0">
                <button class="btn btn-primary" @click="refreshBalances">
                    Refresh TTT Balance
                </button>
            </fieldset>
        </div>

        <div class="mt-2">
            <ul>
                <li>TT: {{ ttBalance.toFormat() }}</li>
                <li>EGG: {{ eggBalance.toFormat() }}</li>
                <li>TrustThunder: {{ tttBalance.toFormat() }}</li>
            </ul>
        </div>

        <div class="mt-2">
            <fieldset :disabled="loading > 0">
                <button class="btn btn-primary" @click="buyTTT">
                    Buy TrustThunder
                </button>
                <button class="btn btn-danger" @click="sellTTT">
                    Sell TrustThunder
                </button>
            </fieldset>
        </div>
    </div>
</template>

<script lang="ts">
import { JsonRpcProvider } from "ethers/providers";
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { getContract } from "../lib/blockchain-helper";

import Big from "bignumber.js";
import { ethers } from "ethers";

const network = "development";
const EGG_TOKEN = "USD";
const EGG_DP = 6;

function toEther(v: any, dp = 18) {
    return new Big(v.toString()).div(`1e${dp}`).dp(dp);
}

@Component({})
export default class Trust extends Vue {
    provider = new JsonRpcProvider("http://localhost:8545");

    loading = 0;
    ttBalance = new Big(0);
    eggBalance = new Big(0);
    tttBalance = new Big(0);

    mounted() {
        this.refreshBalances();
    }

    refreshBalances() {
        this.loading++;
        this.$nextTick(async function () {
            try {
                const signer = this.provider.getSigner();
                const account = await signer.getAddress();

                this.ttBalance = toEther(
                    await this.provider.getBalance(account)
                );

                const tttContract = getContract(
                    network,
                    "TrustThunder",
                    this.provider
                );
                const eggContract = getContract(
                    network,
                    EGG_TOKEN,
                    this.provider
                );

                this.eggBalance = toEther(
                    await eggContract.balanceOf(account),
                    EGG_DP
                );

                this.tttBalance = toEther(await tttContract.balanceOf(account));
            } catch (error) {
                console.log(error);
            } finally {
                this.loading--;
            }
        });
    }

    sellTTT() {
        ++this.loading;

        const howMany = prompt("How much TTT would you like to burn?", "0");

        this.$nextTick(async function () {
            try {
                if (howMany) {
                    const value = new Big(howMany)
                        .times(1e18)
                        .dp(18)
                        .toString();
                    const signer = this.provider.getSigner();
                    const account = await signer.getAddress();

                    const tttContract = getContract(
                        network,
                        "TrustThunder",
                        signer
                    );

                    const t = await tttContract.retrieve(
                        ethers.utils.bigNumberify(value)
                    );

                    const r = await t.wait(1);

                    console.log(r.events);
                }
            } catch (error) {
                console.log(error);
            } finally {
                this.loading--;
            }
        });
    }

    buyTTT() {
        ++this.loading;

        const howMany = prompt("How much TT would you like to spend?", "0");

        this.$nextTick(async function () {
            try {
                if (howMany) {
                    const value = new Big(howMany)
                        .times(1e18)
                        .dp(18)
                        .toString();
                    const signer = this.provider.getSigner();
                    const account = await signer.getAddress();

                    const tttContract = getContract(
                        network,
                        "TrustThunder",
                        signer
                    );

                    const eggContract = getContract(network, EGG_TOKEN, signer);

                    const approved = toEther(
                        await eggContract.allowance(
                            account,
                            tttContract.address
                        )
                    );

                    if (approved.lt(1e6)) {
                        console.log("approving");

                        const t = await eggContract.approve(
                            tttContract.address,
                            new Big(1e22).times(1e22).toString()
                        );

                        await t.wait(1);

                        console.log("approved!");
                    }

                    const t = await tttContract.depo({
                        value: ethers.utils.bigNumberify(value),
                    });

                    const r = await t.wait(1);

                    const events = r.events
                        .filter((v: any) => v.event == "DepoDone")
                        .map((v: any) => v.args);

                    // 5000 TT, @ required egg should be 1 EGG = 100 TT, 1 TT = 0.01 EGG
                    // 5000 * 1.5% = 75 TT -> 75 TT = 75 * 0.001 EGG = 0.75
                    for (const e of events) {
                        console.log(
                            "DepoDone",
                            toEther(e.eggUsed, EGG_DP).toNumber(),
                            "EGG sent,",
                            toEther(e.trustReceived).toNumber(),
                            "TTT received,",
                            toEther(e.value).toNumber(),
                            "TT sent"
                        );
                    }
                }
            } catch (error) {
                console.log(error);
            } finally {
                this.loading--;
            }
        });
    }
}
</script>