<template lang="pug">
div
    div(v-if="!$store.state.account")
        h1 Please login..
    div(v-else)
        .d-flex.align-items-center
            h1.mr-3 Wallet 🐋
            span.spinner.spinner-border.spinner-border-sm.text-warning.ml-2(
                v-if="loading"
            )

        .overflow-auto 
            h5 {{ $store.state.account }}

        .my-3
            input.form-control(v-model="search", placeholder="search coin")

        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Coin
                        th Network
                        th Balance
                        th Action
                tbody
                    tr(v-for="coin in filteredCoins()", :key="coin.id")
                        td 
                            div
                                strong(style="font-size: 0.9rem") {{ coin.id }}
                                span.mx-1 -
                                small.text-muted {{ coin.name }}
                            div(v-if="coin.tokenAddress != 'TT'")
                                a(
                                    :href="'https://viewblock.io/thundercore/address/' + coin.tokenAddress",
                                    target="_blank"
                                ) {{ $humanAddress(coin.tokenAddress) }}
                        td {{ coin.blockchain }}
                        td
                            balance(
                                :displayDp="coin.displayDp",
                                :token="coin.tokenAddress",
                                :address="$store.state.account",
                                :provider="provider"
                            )
                        td
                            template(v-if="coin.blockchain != 'Thundercore'")
                                button.btn.btn-sm.btn-primary.ml-2(
                                    @click="startDeposit(coin)",
                                    :disabled="loading"
                                ) Deposit
                                button.btn.btn-sm.btn-danger.mt-2.mt-md-0.ml-2(
                                    @click="startWithdraw(coin)",
                                    :disabled="loading"
                                ) Withdraw
                            button.btn.btn-sm.btn-warning.mt-2.mt-md-0.ml-2(
                                @click="startTransfer(coin)",
                                :disabled="loading"
                            ) Transfer

                            button.btn.btn-sm.btn-danger.mt-2.mt-md-0.ml-2(
                                @click="startBurn(coin)",
                                :disabled="loading",
                                v-if="coin.id == 'EGG'"
                            ) Burn

    //-- transfer-----
    #transfer-coin.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    div(v-if="selectedCoin")
                        .modal-header.bg-warning.text-light
                            h5.mb-0.modal-title Transfer {{ selectedCoin.id }}
                                span.spinner.spinner-grow.spinner-grow-sm.ml-2(
                                    v-if="loading"
                                )

                        .alert.alert-danger.mt-2 Transfer to an address which is at the same #[strong Thundercore Network]

                        fieldset(:disabled="loading")
                            .mt-2
                                label.form-label Target Address
                                input.form-control(
                                    v-model="transfer.target",
                                    placeholder="transfer address at the thundercore network"
                                )

                            .mt-2
                                .d-flex
                                    label.form-label.mr-auto Amount
                                    small You have
                                        balance.ml-1(
                                            :displayDp="selectedCoin.displayDp",
                                            :token="selectedCoin.tokenAddress",
                                            :address="$store.state.account",
                                            :provider="provider",
                                            @click="transfer.amount = $event"
                                        )
                                        strong.ml-1 {{ selectedCoin.id }}
                                input.form-control(
                                    v-model="transfer.amount",
                                    type="number",
                                    placeholder="amount to transfer"
                                )

                            .mt-3.text-right
                                button.btn.btn-danger.mr-3(
                                    data-dismiss="modal"
                                ) Cancel

                                button.btn.btn-primary(@click="doTransfer") Transfer
                                    span.ml-2.spinner.spinner-border.spinner-border-sm(
                                        v-if="loading"
                                    )
    input.w-25.form-control(
        ref="copier",
        style="opacity: 0; position: absolute"
    )

    //-- deposit-----
    #deposit-coin.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    div(v-if="selectedCoin")
                        .modal-header.bg-primary.text-light
                            h5.mb-0.modal-title Deposit {{ selectedCoin.id }}
                                span.spinner.spinner-grow.spinner-grow-sm.ml-2(
                                    v-if="loading"
                                )

                        fieldset(:disabled="loading")
                            .alert.alert-danger.mt-2 Deposit from #[strong Binance Chain] to #[strong Thundercore Network]

                            //-->>>>> ALREADY LINKED
                            div(v-if="toBig(gatewayDeposit.linkId).gt(0)")
                                //-- SHOWING QR
                                .card.bg-dark.text-light(v-if="qr")
                                    .card-body
                                        .text-center.p-3
                                            h4 {{ qrTitle }}

                                            img(:src="qr")

                                            .overflow-auto.mt-2
                                                h5 {{ qrText }}

                                            button.btn.btn-warning(
                                                @click="qr = ''"
                                            ) Close QR
                                //-- SHOWING NORMAL
                                div(v-else)
                                    .alert.alert-danger IMPORTANT! -> Transfer Memo: &nbsp;
                                        strong(
                                            @click="copy(gatewayDeposit.linkId.toString(), 'Memo')"
                                        ) {{ gatewayDeposit.linkId.toString() }} #[i.lni.lni-mouse]
                                    p When transfering your fund to the Binance Gateway, you need to enter your DESTINATION #[strong AND] MEMO. Failed to do so will result in a failed transaction, and you #[strong will not] be able to recover your fund!
                                    p Please, #[strong double check] your DESTINATION and MEMO!
                                    p.text-danger Only proceed if you understand.
                                    p.text-center(v-show="proceed===null") Proceed?
                                        br
                                        button.btn.btn-primary.mr-2(
                                            :disabled="loading",
                                            @click="proceed = true"
                                        ) Yes
                                        button.btn.btn-danger(
                                            :disabled="loading",
                                            @click="proceed = false",
                                            data-dismiss="modal"
                                        ) No

                                    .card(v-if="proceed === true")
                                        .card-body
                                            div
                                                p Please send {{ selectedCoin.id }} to
                                                div
                                                    label.form-label Address
                                                    .d-flex
                                                        input.form-control.flex-grow-1.mr-1(
                                                            :value="gatewayBNBAddress",
                                                            :readonly="true"
                                                        )
                                                        button.btn.btn-primary.btn-sm.mr-1(
                                                            @click="copy(gatewayBNBAddress, 'Deposit Address')"
                                                        ) COPY
                                                        button.btn.btn-sm.btn-secondary(
                                                            @click="showQR('Address', gatewayBNBAddress)"
                                                        ) QR
                                                .mt-2
                                                    label.form-label With Memo
                                                    .d-flex
                                                        input.form-control.flex-grow-1.mr-1(
                                                            :value="gatewayDeposit.linkId.toString()",
                                                            :readonly="true"
                                                        )
                                                        button.btn.btn-primary.btn-sm.mr-1(
                                                            @click="copy(gatewayDeposit.linkId.toString(), 'MEMO')"
                                                        ) COPY
                                                        button.btn.btn-sm.btn-secondary(
                                                            @click="showQR('Memo', gatewayDeposit.linkId.toString())"
                                                        ) QR

                            //--->>> NOT YET LINKED
                            .alert.alert-info(v-else)
                                p You have not link you TT address to the gateway, to proceed with deposit, Please Link your address to the Gateway.
                                .text-center
                                    button.btn.btn-primary.btn-lg(
                                        @click="doLink",
                                        :disabled="loading"
                                    ) Link your {{ $humanAddress($store.state.account) }} to Gateway
                                        span.spinner.spinner-border.spinner-border-sm.ml-2(
                                            v-if="loading"
                                        )

                            .mt-3.text-right
                                button.btn.btn-danger.mr-3(
                                    data-dismiss="modal"
                                ) Close

    #withdraw-coin.modal
        .modal-dialog
            .modal-content
                div(v-if="selectedCoin")
                    .modal-header.bg-danger.text-light
                        h5.mb-0.modal-title Withdraw {{ selectedCoin.id }}
                            span.spinner.spinner-grow.spinner-grow-sm.ml-2(
                                v-if="loading"
                            )
                    .modal-body
                        .alert.alert-danger.mt-2 Withdraw from #[strong Thundercore Network] to #[strong Binance Chain]

                        div
                            label.form-label Amount To Withdraw
                            input.form-control(
                                v-model="withdraw.amount",
                                type="number"
                            )
                            small.text-success You Have
                                balance.ml-1(
                                    :displayDp="selectedCoin.displayDp",
                                    :token="selectedCoin.tokenAddress",
                                    :address="$store.state.account",
                                    :provider="provider",
                                    @click="withdraw.amount = $event"
                                )
                                strong.ml-1 {{ selectedCoin.id }}
                        .mt-2
                            label.form-label Target Address
                            input.form-control(v-model="withdraw.target")
                        .mt-2
                            label.form-label Memo
                            input.form-control(v-model="withdraw.memo")

                        .alert.alert-danger.mt-3
                            p Please double check your DESTINATION and MEMO. Not all transfer requires the MEMO, but some wallet request for a MEMO

                        .alert.alert-info.mt-3(
                            v-if="toBig(withdraw.amount).gt(0)"
                        )
                            table.text-dark 
                                tbody
                                    tr
                                        td.pr-2
                                            strong Network Fee &nbsp;
                                        td {{ selectedCoin.withdrawNetworkFee }} {{ selectedCoin.id }}
                                    tr
                                        td.pr-2
                                            strong Withdraw Fee &nbsp;
                                        td 0.1%
                                    tr
                                        td.pr-2
                                            strong You will receive &nbsp;
                                        td {{ toBig(withdraw.amount).minus(selectedCoin.withdrawNetworkFee).minus(toBig(withdraw.amount).times(0.001)) }} {{ selectedCoin.id }}

                    .modal-footer.bg-warning
                        button.btn.btn-danger(
                            data-dismiss="modal",
                            :disabled="loading"
                        ) Cancel
                        button.btn.btn-primary(
                            @click="doWithdraw",
                            :disabled="loading || toBig(withdraw.amount).minus(selectedCoin.withdrawNetworkFee).minus(toBig(withdraw.amount).times(0.001)).lte(0)"
                        ) Proceed
</template>

<script lang="ts">
import { ethers } from "ethers";
import { JsonRpcProvider } from "ethers/providers";
import { Vue, Component } from "vue-property-decorator";
import Base from "./Base";
import MixinMenu from "./_mixin_menu";

import Balance from "../components/balance.vue";
import Big from "bignumber.js";
import { getContract, getProvider } from "../lib/blockchain-helper";
import QR from "qrcode";
import { BigNumber } from "ethers/utils";

type Coin = {
    id: string;
    name: string;
    tokenAddress: string;
    blockchain: "Thundercore" | "Binance";
    dp: number;
    displayDp: number;
    withdrawNetworkFee?: string;
};

const network = "thunder_main";

interface Receipt {
    id: Big;
    symbol: string;
    at: Date;
    amount: Big;
    transferTarget: string;
    memo: string;
    hash?: string;
}

function toBytes8(str: string) {
    const bytes = ethers.utils.toUtf8Bytes(str);
    const arr: string[] = [];
    bytes.forEach((v) => arr.push(new Big(v).toString(16)));
    const hex = arr.join("");
    return "0x" + hex.padEnd(16, "0");
}

@Component({
    mixins: [MixinMenu],
    components: { Balance },
})
export default class Wallet extends Base {
    provider = new JsonRpcProvider("https://mainnet-rpc.thundercore.com");

    loading = false;

    selectedCoin: Coin | null = null;

    transfer = {
        target: "",
        amount: "",
    };

    gatewayBNBAddress = "bnb18r7xx73x33mf238qusauuaupu4s89a3jr5ay7a";

    search = "";

    proceed = null;

    coins: Coin[] = [
        {
            id: "TT",
            name: "ThunderToken",
            tokenAddress: "TT",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 4,
        },
        // {
        //     id: "EGG(OLD)",
        //     name: "The Egg (OLD)",
        //     tokenAddress: "0x013aBb84ca2d12ef0C4D0bEB7CF6b6b807962df5",
        //     blockchain: "Thundercore",
        //     dp: 18,
        //     displayDp: 6,
        // },
        {
            id: "EGG",
            name: "The Egg",
            tokenAddress: "0x8eD8Ae1703ACb33031cBD464400b57978Fe501aB",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 6,
        },
        {
            id: "TT-USDT",
            name: "TT-USDT",
            tokenAddress: "0x4f3C8E20942461e2c3Bdd8311AC57B0c222f2b82",
            blockchain: "Thundercore",
            dp: 6,
            displayDp: 2,
        },
        {
            id: "TT-WBTC",
            name: "TT-WBTC",
            tokenAddress: "0x18fB0A62f207A2a082cA60aA78F47a1af4985190",
            blockchain: "Thundercore",
            dp: 8,
            displayDp: 8,
        },
        {
            id: "TT-ETH",
            name: "TT-ETH",
            tokenAddress: "0x6576Bb918709906DcbFDCeae4bB1e6df7C8a1077",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 5,
        },
        {
            id: "TT-USDC",
            name: "TT-USDC",
            tokenAddress: "0x22e89898A04eaf43379BeB70bf4E38b1faf8A31e",
            blockchain: "Thundercore",
            dp: 6,
            displayDp: 2,
        },
        {
            id: "SET",
            name: "Seriously",
            tokenAddress: "0xbb9a3CC287a4060B06257435906E0491305C112C",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 6,
        },
        {
            id: "NICER",
            name: "Nicer",
            tokenAddress: "0x1F489E0282cFA883A4224C91309bC4D4c062ed93",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 6,
        },
        {
            id: "RISER",
            name: "RISER",
            tokenAddress: "0xC1E7000f379f2247Ae930ba98d5568cd9D0b924b",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 6,
        },
        {
            id: "FRSK",
            name: "Firestack",
            tokenAddress: "0x2a7a59c82812a4b70Dedf76ef4F3b7451A212a3f",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 8,
        },
        {
            id: "CARE",
            name: "Careful V4",
            tokenAddress: "0x62839205805a96F8b4122d4eCD028999E79FBd27",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 6,
        },
        {
            id: "RISK",
            name: "Serious Risk",
            tokenAddress: "0x137222fF76855E3804d7C2B345B2fB1d9d7591Ef",
            blockchain: "Thundercore",
            dp: 18,
            displayDp: 8,
        },
        {
            id: "BNB",
            name: "Binance Native Token",
            tokenAddress: "0x64D8723FFA3B145BAdd7a6896C966fD11CD8c7F1",
            blockchain: "Binance",
            dp: 8,
            displayDp: 8,
            withdrawNetworkFee: "0.001",
        },
        {
            id: "IDRTB",
            name: "Bep2-IDRTB",
            tokenAddress: "0xB162CfBbc4821FB33Fa83e3050240dD920dDa230",
            blockchain: "Binance",
            dp: 8,
            displayDp: 2,
            withdrawNetworkFee: "6000",
        },
        {
            id: "BUSD",
            name: "Bep2-BUSD",
            tokenAddress: "0x2e6b163D5bA678515A6a0D27e063eA794d79d975",
            blockchain: "Binance",
            dp: 8,
            displayDp: 2,
            withdrawNetworkFee: "0.45",
        },
        {
            id: "BTC-B",
            name: "Bep2-BTC",
            tokenAddress: "0x8a8A8568C27B29550fF5f877016662EFD47828C8",
            blockchain: "Binance",
            dp: 8,
            displayDp: 8,
            withdrawNetworkFee: "0.000008",
        },
        {
            id: "ETH-B",
            name: "Bep2-ETH",
            tokenAddress: "0x7DA201EC21E2cD2B79B36C16C0CBAC131504c1FC",
            blockchain: "Binance",
            dp: 8,
            displayDp: 8,
            withdrawNetworkFee: "0.0002",
        },
        {
            id: "TRX",
            name: "Bep2-TRX",
            tokenAddress: "0x0d246F3a3adF106ee8e204f28F2d340D86bF4Db0",
            blockchain: "Binance",
            dp: 8,
            displayDp: 8,
            withdrawNetworkFee: "3.5",
        },
        {
            id: "DOT",
            name: "Bep2-DOT",
            tokenAddress: "0xaEaCF8C931b45987506Ade0D19d41ea822e19A76",
            blockchain: "Binance",
            dp: 8,
            displayDp: 8,
            withdrawNetworkFee: "0.01",
        },
        // {
        //     id: "BIDR",
        //     name: "Bep2-BIDR",
        //     tokenAddress: "0xBdb50b9D1824F19F5725913C546D495290ea1894",
        //     blockchain: "Thundercore",
        //     dp: 8,
        //     displayDp: 8,
        // },
    ];

    qr = "";
    qrText = "";
    qrTitle = "";

    filteredCoins() {
        if (this.search) {
            return this.coins.filter(
                (v) =>
                    v.id.toLowerCase().includes(this.search.toLowerCase()) ||
                    v.name.toLowerCase().includes(this.search.toLowerCase())
            );
        }

        return this.coins;
    }

    gatewayDeposit = {
        linkId: "",
    };

    withdraw = {
        amount: "",
        target: "",
        memo: "",
    };

    toBig(v: any) {
        return new Big(v.toString());
    }

    startWithdraw(coin: Coin) {
        this.selectedCoin = coin;
        this.withdraw = {
            amount: "",
            target: "",
            memo: "",
        };

        this.$nextTick(function () {
            const win = window as any;
            win.jQuery("#withdraw-coin").modal("show");
        });
    }

    doWithdraw() {
        this.loading = true;
        this.$store.commit("blockchainProgress", "start withdraw");
        this.$nextTick(async function () {
            try {
                if (!this.selectedCoin) throw "no coin";

                if (this.withdraw.target.indexOf("bnb") != 0)
                    throw "Invalid address, please enter a valid binance chain address";

                const p = this.getProvider(false);
                if (!p) return;

                const provider = p;
                const signer = provider.getSigner();

                const amount = new Big(this.withdraw.amount)
                    .times(`1e${this.selectedCoin.dp}`)
                    .dp(0, Big.ROUND_DOWN);

                const my = getContract("", "GATEWAY", signer);

                const myErc = getContract(
                    "",
                    "ERC20",
                    signer,
                    this.selectedCoin.tokenAddress
                );

                const allowance: BigNumber = await myErc.allowance(
                    this.$store.state.account,
                    my.address
                );

                if (allowance.lt(amount.toString())) {
                    this.$store.commit(
                        "blockchainProgress",
                        `waiting for ${this.selectedCoin.id} spending approval`
                    );

                    const t = await myErc.approve(
                        my.address,
                        amount.times(99e12).toString()
                    );

                    await t.wait(1);
                }

                this.$store.commit(
                    "blockchainProgress",
                    `[approved] waiting confirmation`
                );

                const t = await my.withdraw(
                    toBytes8(this.selectedCoin.id),
                    amount.toString(),
                    this.withdraw.target,
                    this.withdraw.memo
                );

                window.swal(
                    "info",
                    `${this.withdraw.amount} ${this.selectedCoin.id} withdrawal received by gateway, please wait..`
                );

                const win = window as any;
                win.jQuery("#withdraw-coin").modal("hide");
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else msg = error.message || error.toString();
                alert(msg);
            } finally {
                this.$store.commit("blockchainProgress", "");
                this.loading = false;
            }
        });
    }

    startBurn(coin: Coin) {
        if (
            confirm(
                `You are about to BURN ${coin.id}.\nBurning means you are removing it from your balance and reduce the total supply of the network, are you sure?`
            )
        ) {
            const amount = prompt("How many coin would you like to burn?", "0");

            if (amount) {
                this.loading = true;

                this.$nextTick(async function () {
                    try {
                        const a = new Big(amount)
                            .times(`1e${coin.dp}`)
                            .dp(0, Big.ROUND_DOWN);
                        if (a.lte(0) || a.isNaN() || !a.isFinite())
                            throw "invalid amount";

                        const p = this.getProvider(false);
                        if (!p) return;

                        const provider = p;
                        const signer = p.getSigner();
                        await signer.getBalance();

                        const erc20 = getContract(network, "EGG", signer);
                        await erc20.burn(a.toString());
                    } catch (error) {
                        let msg;
                        if (error.data && error.data.message)
                            msg = error.data.message;
                        else msg = error.message || error.toString();
                        alert(msg);
                    } finally {
                        this.loading = false;
                    }
                });
            }
        }
    }

    startDeposit(coin: Coin) {
        this.selectedCoin = coin;
        this.qr = "";
        this.loading = true;

        this.$nextTick(async function () {
            try {
                const p = this.getProvider(false);
                if (!p) return;
                const provider = p;
                const innerGateway = getContract("", "GATEWAY", provider);

                this.gatewayDeposit.linkId = await innerGateway.links(
                    this.$store.state.account
                );

                this.$nextTick(function () {
                    const win = window as any;
                    win.jQuery("#deposit-coin").modal("show");
                });
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else msg = error.message || error.toString();
                alert(msg);
            } finally {
                this.loading = false;
            }
        });
    }

    async doLink() {
        this.loading = true;
        this.$nextTick(async function () {
            try {
                const p = this.getProvider(false);
                if (!p) return;

                const provider = p;
                const innerGateway = getContract(
                    "",
                    "GATEWAY",
                    provider.getSigner()
                );

                const t = await innerGateway.link();
                await t.wait(1);

                this.gatewayDeposit.linkId = await innerGateway.links(
                    this.$store.state.account
                );

                this.$nextTick(function () {
                    const win = window as any;
                    win.jQuery("#deposit-coin").modal("show");
                });
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else msg = error.message || error.toString();
                alert(msg);
            } finally {
                this.loading = false;
            }
        });
    }

    copy(text: string, title: string) {
        const input = this.$refs.copier as HTMLInputElement;
        input.value = text;
        console.log(input.value);
        input.focus();
        input.select();
        const r = document.execCommand("copy");
        console.log(r);
        alert(title + ", coppied to clipboard");
    }

    showQR(title: string, text: string) {
        this.qr = "";
        this.qrText = text;
        this.qrTitle = title;

        this.$nextTick(function () {
            const $ = (window as any)["jQuery"];
            $("#qr-code").modal("show");
            QR.toDataURL(text, (err, url) => {
                if (err) return alert(err.message);
                this.qr = url;
            });
        });
    }

    startTransfer(coin: Coin) {
        this.selectedCoin = coin;
        this.transfer.target = "";
        this.transfer.amount = "";
        this.$nextTick(function () {
            const win = window as any;
            win.jQuery("#transfer-coin").modal("show");
        });
    }

    doTransfer() {
        this.loading = true;
        this.$store.commit("blockchainProgress", "transfering token");

        this.$nextTick(async function () {
            try {
                if (!this.selectedCoin) throw "no coin";

                const p = this.getProvider(false);
                if (!p) return;
                const provider = p;
                const signer = provider.getSigner();

                const address = ethers.utils.getAddress(this.transfer.target);
                const amountEther = new Big(this.transfer.amount)
                    .times(`1e${this.selectedCoin.dp}`)
                    .dp(0, Big.ROUND_DOWN)
                    .toString();

                if (this.selectedCoin.id == "TT") {
                    const t = await signer.sendTransaction({
                        value: ethers.utils.bigNumberify(
                            amountEther.toString()
                        ),
                        to: address,
                    });
                    const r = await t.wait(1);
                    if (r.status) {
                        window.swal(
                            "info",
                            `transfered ${this.transfer.amount} ${this.selectedCoin.id} to ${address}`
                        );
                    }
                } else {
                    const erc20 = getContract(
                        "",
                        "ERC20",
                        signer,
                        this.selectedCoin.tokenAddress
                    );
                    const t = await erc20.transfer(address, amountEther);
                    const r = await t.wait(1);
                    if (r.status) {
                        window.swal(
                            "info",
                            `transfered ${this.transfer.amount} ${this.selectedCoin.id} to ${address}`
                        );
                    }
                }

                const win = window as any;
                win.jQuery("#transfer-coin").modal("hide");
            } catch (error) {
                let msg;
                if (error.data && error.data.message) msg = error.data.message;
                else msg = error.message || error.toString();
                alert(msg);
            } finally {
                this.$store.commit("blockchainProgress", "");
                this.loading = false;
            }
        });
    }
}
</script>