<template lang="pug">
div
    nav.navbar.navbar-expand-lg.bg-dark.navbar-dark
        .container
            router-link.navbar-brand(to="/") EGG

            span.navbar-text.d-lg-none.text-white(
                v-if="$store.state.eggPrice.gt(0) && $store.state.ttPrice.gt(0)"
            )
                small.d-flex.flex-column(style="line-height: 1em")
                    span.text-nowrap {{ $store.state.eggPrice.dp(4).toFormat() }} TT/EGG
                    span.text-nowrap {{ $store.state.ttPrice.dp(4).toFormat() }} USDT/TT
                    span.text-nowrap 
                        span.text-success 24h Vol:
                        span.ml-1 {{ totalVolume().times($store.state.ttPrice).dp(2).toFormat() }} USDT

            button.navbar-toggler(data-toggle="collapse", data-target="#menu")
                span.navbar-toggler-icon

            #menu.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item(
                        :class="{ active: $route.name == 'SwapHome' || $route.name == 'Swap' }"
                    )
                        router-link.nav-link(to="/") Swap

                    li.nav-item(:class="{ active: $route.name == 'Farm' }")
                        router-link.nav-link(to="/farm") Farm

                    //--li.nav-item
                        a.nav-link(href="https://github.com", target="_blank") Github

                    //--li.nav-item
                        a.nav-link(href="#") Documentation

                    li.nav-item
                        router-link.nav-link(to="/info") Info
                            //--span.badge.badge-success.ml-1 new

                span.navbar-text.mr-3.text-white(
                    v-if="$store.state.eggPrice.gt(0) && $store.state.ttPrice.gt(0)"
                )
                    small.d-flex.flex-column(style="line-height: 1em")
                        span.text-nowrap {{ $store.state.eggPrice.dp(5, 1).toFormat() }} TT/EGG
                        span.text-nowrap {{ $store.state.ttPrice.dp(5, 1).toFormat() }} USDT/TT
                        span.text-nowrap 
                            span.text-success 24h Vol:
                            span.ml-1 {{ totalVolume().times($store.state.ttPrice).dp(2).toFormat() }} USDT

                ul.navbar-nav
                    template(v-if="$store.state.account")
                        li.nav-item.mr-3.mb-md-0.mb-3(
                            :class="{ active: $route.name == 'Wallet' }"
                        )
                            router-link.btn.btn-primary(to="/wallet") Wallet

                        li.nav-item.mr-3.mb-md-0.mb-3 
                            span.navbar-text.text-warning.p-2.bg-white 
                                span 
                                span.ml-1 {{ $humanAddress($store.state.account) }}
                        li.nav-item 
                            button.btn.btn-danger(@click="logout") Logout
                    template(v-else)
                        li.nav-item 
                            button.btn.btn-danger(@click="connect") Connect

    .alert.alert-primary(
        style="position: fixed; z-index: 999999",
        v-if="$store.state.blockchainProgress"
    ) 
        h5.d-flex.align-items-start.m-0
            span.mr-3.spinner.spinner-border.spinner-border-sm
            span {{ $store.state.blockchainProgress }}

    .alert.alert-warning.text-center.p-4.m-4(
        v-if="$store.state.chainId && $store.state.chainId != 108"
    )
        h3.mb-0 Wrong network detected, please change to Thundercore Network

    #connect-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-body
                    login(@login="closeLogin")
                .modal-footer.text-right
                    button.btn.btn-danger(data-dismiss="modal") Close

    .container(style="margin-bottom: 12em;")
        .text-center(v-if="$store.state.routeLoading")
            span.spinner.spinner-border
        router-view

    .bg-dark.text-light(style="position: fixed; left: 0; bottom: 0; width: 100%; z-index: 9")
        .container
            .p-2
                .d-flex
                    .mr-auto
                        span Backup
                        br 
                        a(href="https://eggdex.netlify.app/") https://eggdex.netlify.app
                        br
                        small v1.10
                    .text-right
                        span.d-block.text-white Get Connected!
                        div
                            a.mr-2(href="https://twitter.com/eggdexid" target="_blank")
                                img(src="/twitter.png" style="height: 32px;")
                            a.mr-2(href="https://instagram.com/eggdex" target="_blank")
                                img(src="/instagram.png" style="height: 32px;")
                            a(href="https://t.me/eggdexdiscussion" target="_blank")
                                img(src="/icons8-telegram-app-48.png" style="height: 32px;")


    //--.alert.alert-danger.text-center.p-4.m-4
        h1 Dear USER
        p We are very sory to inform that we have found a vulnerability at swapper's contract (LP Tokens)
            br
            span this vulnerability will allow a malicious actor to add zero values but will generate a free LP Tokens
        p Fortunately, after extensive scanning, the vulnerability is not being utilized by any entity yet
            br
            span please #[strong stop] the farming, AND #[strong remove] liquidity from the pairs as soon as possible
        p The EGG token are SAFE, we will upgrade the swap contract as soon as possible to mitigate this vulnerability
        p We are very sorry for the inconvenience. We removed the #[i swap], #[i add liquidity] and #[i stake] buttons to mitigate the price dumping action on EGG token
        p We will upgrade the swap contract and will provide the old interface to withdraw old LP Tokens if needed

    //--.alert.alert-warning.text-center.p-4.m-4
        p Thank you very much for the support to make the platform better. We already having more than ~95% liquidated their position. There are ~5% who are still farming.
            br
            | please note that we will not calculate the egg gained after block #57,728,311 when the egg contract is upgraded.
            br
            | You will not able to migrate the egg token to the new contract if you are still farming
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Login from "./views/Login.vue";
import Big from "bignumber.js";

@Component({
    components: { Login },
})
export default class App extends Vue {
    async mounted() {
        // check if already loged in
        await this.$store.dispatch("checkStorage");

        const provider = this.$store.state.provider;

        if (!((provider && provider == "local") || provider == "development")) {
            const win = window as any;
            if (provider && win[provider] && win[provider].on) {
                win[provider].on("accountsChanged", (accounts: string[]) => {
                    this.$store.commit("account", accounts[0]);
                });
                win[provider].on("chainChanged", (chainId: any) => {
                    this.$store.commit("chainId", chainId);
                });
            }
        }

        this.$store.dispatch("checkPrice");
        this.$store.dispatch("fetchVol24h");
    }

    beforeDestroy() {
        this.$store.dispatch("destroyPriceMonitor");
    }

    logout() {
        this.$store.dispatch("logout");
    }

    connect() {
        const win = window as any;
        win.jQuery("#connect-dialog").modal("show");
    }

    closeLogin() {
        const win = window as any;
        win.jQuery("#connect-dialog").modal("hide");
    }

    totalVolume() {
        let b = new Big(0);
        for (const key in this.$store.state.vol24h) {
            b = b.plus(this.$store.state.vol24h[key]);
        }
        return b;
    }
}
</script>