<template lang="pug">
.table-overflow
    table.table
        thead
            tr
                th Tx Hash
                th Amount
        tbody
            tr(v-for="tx in burns", :key="tx.hash")
                td 
                    a(:href="'https://viewblock.io/thundercore/tx/' + tx.hash") {{ partHash(tx.hash) }}
                td
                    span.text-nowrap {{ toBig(tx.amount).toFormat() }}
                        span.text-success.ml-1 {{tx.token}}
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Big from "bignumber.js";

@Component({})
export default class DevBurnList extends Vue {
    burns = [
        {
            token: "EGG2",
            hash:
                "0x538d3d7802f32d3a30796b6749f4342d44632f6ddc3a320310a67a84ef53d223",
            amount: "350000",
        },
    ];

    partHash(h: string) {
        return h.substr(0, 10) + ".....";
    }

    toBig(v: any) {
        return new Big(v.toString());
    }
}
</script>