<template lang="pug">
div
    #charting.modal.fade
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    button.btn.btn-danger.btn-sm(data-dismiss="modal") Close
                .modal-body
                    chart(v-if="chartCoinId", :innerCoinId="chartCoinId")
    .position-relative
        .d-flex.align-items-top
            .mr-auto 
                p
                    strong APY
                    span.ml-2 Anuallized Percentage Yield from fees acquired by providing liquidity

                    span
                        pre.d-flex.my-1 APY = Vol24Hh * 0.2% / Liquidity * 365 * 100

                    span Average APY
                        strong.ml-2 {{ averageAPY().toFormat() }}%

        span.spinner.spinner-grow.position-absolute(v-if="loading")

        input.form-control(
            v-model="filterLiquidities",
            placeholder="search token"
        )

        .table-responsive
            table.table.table-striped(v-if="provider")
                thead
                    tr
                        th &nbsp;
                        th Pair
                        th Price
                        th Liquidity
                        th Vol 24h (TT)
                tbody
                    //--tr(v-for="l in liquidities")
                    tr(v-for="l in liquiditiesFiltered()")
                        td.pr-0(style="width: 0.5em") 
                            //--router-link(:to="'/chart/' + l.token.id")
                                img(src="/bar-chart.png")
                            a(
                                @click.prevent="showChartCoinId(l.token.id)",
                                style="cursor: pointer"
                            )
                                img(src="/bar-chart.png")
                        td 
                            span.text-nowrap TT / {{ l.token.id }}
                            br
                            span.text-muted {{ l.token.name }}
                        td 
                            span.d-flex.text-nowrap {{ l.major.div(l.minor).dp(8, 1).toFormat() }} TT / {{ l.token.id }}
                            span.d-flex.text-primary.text-nowrap {{ l.minor.div(l.major).dp(8, 1).toFormat() }} {{ l.token.id }} / TT
                            small.d-block(v-if="l.token.id != 'TT-USDT'")
                              strong ~{{ l.major.div(l.minor).times($store.state.ttPrice).dp(8).toFormat() }} USD / {{ l.token.id }}
                        td 
                            span.d-flex.text-nowrap {{ l.major.times(2).dp(2).toFormat() }} TT
                            span.text-primary.d-flex.text-nowrap {{ l.major.times(2).times($store.state.ttPrice).dp(2).toFormat() }} USDT
                        td
                            div(v-if="volumes[l.token.id]")
                                span.text-nowrap.d-flex {{ volumes[l.token.id].dp(2).toFormat() }}
                                    span.ml-1.text-success TT
                                span.text-nowrap.d-flex.text-primary APY: {{ volumes[l.token.id].times(0.2 / 100).div(l.major.times(2)).times(100).times(365).dp(2) }}%
                            span(v-else) ...
</template>

<script lang="ts">
import { JsonRpcProvider } from "ethers/providers";
import { Component, Prop } from "vue-property-decorator";
import { getContract } from "../../lib/blockchain-helper";
import Chart from "./chart.vue";
import network from "../../network";
import Base from "../Base";
import staticCoins from "../static-coins";
import debounce from "lodash/debounce";
import Big from "bignumber.js";

@Component({
    components: { Chart },
})
export default class PriceFeed extends Base {
    coins = staticCoins;
    loading = true;

    chartCoinId = "";

    liquidities: {
        token: {
            id: string;
            name: string;
        };
        major: Big;
        minor: Big;
        c24: Big;
        v24: Big;
    }[] = [];

    sortLiquidities = "id";
    filterLiquidities = "";

    liquiditiesFiltered() {
        let liq = this.liquidities.slice(0);

        if (this.filterLiquidities) {
            const search = this.filterLiquidities.toUpperCase().trim();
            liq = this.liquidities.filter(
                (v) =>
                    v.token.id.includes(search) || v.token.name.includes(search)
            );
        }

        if (this.sortLiquidities) {
            liq = liq.sort((a, b) => {
                if (a.token.id > b.token.id) {
                    return 1;
                } else {
                    return -1;
                }
            });
        }
        return liq;
    }

    volumes: any = {};

    @Prop()
    readonly provider: JsonRpcProvider | undefined;

    beforeDestroy() {
        for (const coin of this.coins) {
            this.provider?.removeAllListeners(coin.exchangeAddress);
        }
    }

    showChartCoinId(id: string) {
        this.chartCoinId = "";
        this.$nextTick(function () {
            this.chartCoinId = id;
            const win = window as any;
            win.$("#charting").modal("show");
        });
    }

    async loadVolume() {
        await this.$store.dispatch("fetchVol24h");
        this.volumes = this.$store.state.vol24h;
    }

    averageAPY() {
        let a = new Big(0);
        let b = new Big(0);

        // total volume
        for (const key in this.$store.state.vol24h) {
            b = b.plus(this.$store.state.vol24h[key]);
        }

        // total liquidity
        for (const key in this.liquidities) {
            const item = this.liquidities[key];
            a = a.plus(item.major.times(2));
        }

        if (a.eq(0)) return a;

        return b.times(0.2).div(100).div(a).times(365).times(100).dp(2);
    }

    async mounted() {
        this.loadVolume();
        // watch liquidites..
        if (this.provider) {
            this.provider.pollingInterval = 1000;

            for (const coin of this.coins) {
                if (coin.exchangeAddress) {
                    const erc20 = getContract(
                        network,
                        "ERC20",
                        this.provider,
                        coin.tokenAddress
                    );

                    const watcher = debounce(async () => {
                        this.loading = true;

                        this.$nextTick(async function () {
                            let ttBalance = new Big(0);
                            let usdBalance = new Big(0);

                            if (!this.provider) return;

                            try {
                                ttBalance = this.toEther(
                                    await this.provider.getBalance(
                                        coin.exchangeAddress
                                    )
                                );
                                usdBalance = this.toEther(
                                    await erc20.balanceOf(coin.exchangeAddress),
                                    coin.decimalPlace
                                );
                            } catch (error) {
                                alert(error.message);
                            } finally {
                                this.loading = false;
                            }

                            const lIndex = this.liquidities.findIndex(
                                (v) => v.token.id == coin.id
                            );

                            let liq;

                            if (lIndex >= 0) {
                                liq = this.liquidities[lIndex];
                            } else {
                                liq = {
                                    token: {
                                        id: coin.id,
                                        name: coin.name,
                                    },
                                    major: new Big(0),
                                    minor: new Big(0),
                                    c24: new Big(0),
                                    v24: new Big(0),
                                };
                            }

                            liq.major = ttBalance;
                            liq.minor = usdBalance;

                            if (lIndex >= 0) {
                                this.liquidities.splice(lIndex, 1, liq);
                            } else {
                                this.liquidities.push(liq);
                            }
                        });
                    }, 1000).bind(this);

                    watcher();

                    this.provider.on(coin.exchangeAddress, watcher.bind(this));
                }
            }
        }
    }
}
</script>